{% extends "structure.html" %}

{% block main %}

<div class="container">
    <h2>About me:</h2>
    <div class="card">
        <div class="card-body">
            <img src="../static/img/avatar.jpg" alt="Sebastian" style="width:40%">
            <h3>Sebastián M. M.</h3>
            <p class="title">Full Stack Developer | Machine Learning & Data Scientist</p>
            <p>
                I am a software engineer with a true passion for learning new technologies and applying them to
                create great software.
                Lately, I have been learning web development, using the frameworks that dominate the market.
                My goal is to keep learning new trends in technology and use them to develop hands-on projects and
                work with great
                teams with exciting people and professionals in the industry.
            </p>
        </div>
    </div>
</div>

{% endblock main %}